<script type='text/javascript'>
	function validate()
	{
		var v=/^[a-zA-Z ]+$/
		if(form1.txtcat.value=="")
		{
			alert("Please Enter Category");
			form1.txtcat.focus();
			return false;
		}else{
			if(!v.test(form1.txtcat.value))
			{
				alert("Please Enter Only Alphabets in Category");
				form1.txtcat.focus();
				return false;
			}
		}
	}
</script>
    
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-title">
                        <div class="section-title">
                            <span>A Memorable Event With Venue Reservation</span>
                            <h2>EDIT HALL CATEGORY</h2>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <form method="post" name="form1" action="/update_cat" class="contact-form">
                        <div class="row">
                          
                            
                            <div class="col-lg-12">
                                <input type="text"  placeholder="Enter Category" name="txtcat" value="<%= catitems[0].category %>">
                                
                                <button type="submit" name="btnupdate" onclick="return validate();">UPDATE</button>
                                <input type="hidden"  placeholder="Enter Category" name="txtcatid" value="<%= catitems[0].cat_id %>">
                            </div>
							
                        </div>
                    </form>
                </div>
                <div class="col-lg-7">
                
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->