<br/><br/><br/><br/>
 <!-- Hero Area Section Begin -->
    <div class="hero-area set-bg other-page" data-setbg="img/cnt2.jpg">
    </div>
    <!-- Hero Area Section End -->

    

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-title">
                        <div class="section-title">
                            <span>A Memorable Event With Venue Reservation</span>
                            <h2>Contact Us</h2>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
				  <div class="info-box">
						<h3>Address</h3>
						<br/>
                        <ul>
                            <li>1<sup>st</sup> Floor, Kuber Shiddhi, <br />Near Rto,<br/>Dharampur Road,<br/>Valsad 396001 <br/> Gujarat-(India)</li>
                           
                        </ul>
                       
                    </div>
                   
                </div>
                <div class="col-lg-6">
                   <div class="info-box">
						<h3>Mobile No & Email Id</h3>
						<br/>
                        <ul>
                            
                            <li>(+91) 8128116161 - 9558088282</li>
                            <li>admin@venuereservation.com</li>
                            <li>Everyday: 08:00 a.m - 11:00 p.m</li>
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->