<!-- Hero Area Section Begin -->
<section class="hero-area set-bg" data-setbg="img/abt4.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="hero-text">
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Area Section End -->



<!-- Intro Text Section Begin -->
<section class="intro-section spad">
    <div class="container">
        <div class="row intro-text">
            <div class="col-lg-6">
                <div class="intro-left">
                    <div class="section-title">
                        <span>a memorable event</span>
                        <h2>A great event in a<br /> lovely venue.</h2>
                    </div>
                    <p align="justify">Venue booking system is a web application in which hall owner and customers can add and book the venue based on their location, availability, and area. This makes the workload simple for users to book an hall they need to search for it. In this application, the user needs to be registered and log in to the user will search for venues by giving the booking detail if the venues were present in the particular date user can booked the venue.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro-right">
                    <p align="justify">The user will see the full information about the venue and if is interested he will book the request will be sent to the hall owner and the venue is booked for the user and no refund will be given on cancellation so please confirm your event date and booked after confirmation. So Many Type of venues available in our system like Seminar Hall, Auditorium and also for Casual event like marraiage, reception, and birthday parties.</p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Text Section End -->

<!-- Facilities Section Begin -->
<section class="facilities-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="facilities-item set-bg" data-setbg="img/hside2.jpg">
                    <div class="fi-title">
                        <h2>Auditorium</h2>
                        <p></p>
                    </div>
                    <div class="fi-features">
                        <div class="fi-info">
                            <i class="flaticon-019-television"></i>
                            <p>Smart Projector</p>
                        </div>
                        <div class="fi-info">
                            <i class="flaticon-029-wifi"></i>
                            <p>High Wi-fi</p>
                        </div>
                        <div class="fi-info">
                            <i class="flaticon-003-air-conditioner"></i>
                            <p>AC</p>
                        </div>
                        <div class="fi-info">
                            <i class="flaticon-036-parking"></i>
                            <p>Parking</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="facilities-item set-bg fi-right" data-setbg="img/hside4.jpg">
                    <div class="fi-title">
                        <h2>Party Halls</h2>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Facilities Section End -->

<section class="homepage-about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <h2>“Customers love our <br />venue reservations facility”</h2>
                    </div>
                    <p>Venue Reservations For:</p>
                    
                    <ul>
                        <li>Marraige</li>
                        <li>Reception</li>
                        <li>Birthday Party</li>
                        <li>Seminar</li>
                        <li>Auditorium Booking</li>
                        
                    </ul>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="about-img">
                            <img src="img/tnail1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-img">
                            <img src="img/tnail2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-img">
                            <img src="img/tnail3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-img">
                            <img src="img/tnail4.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Page About Section End -->

<!-- Video Section Begin -->
<div class="video-section">
    <div class="video-bg set-bg" data-setbg="img/hbanner1.jpg"></div>
    
</div>
<!-- Video Section End -->

<!-- Home Page About Section Begin -->
